hr{
    position: relative;
            top: 20px;
            border: none;
            height: 2px;
            background: rgb(71, 71, 71);
            margin-bottom: 50px;
}

  
  
.cv-bar{
    width: 80px;
    background-color: antiquewhite;
    color: #000;
    padding: 2px;
    margin: auto;
    text-align: center;
    box-shadow: 1px 3px 3px 2px #f8c1c1;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* ....................................text box (recent activity)......................................... */
.hire {
    padding: 2em;
    background: #ffffff; 
    box-shadow: 1px 3px 3px 2px #7a7777;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.hire h2 {
      line-height: 1.5; 
}
.hire .btn-hire {
      color: #000;
      text-transform: uppercase;
      letter-spacing: 1px;
      bordeR: 1px solid #000;
      padding: 2px 10px; 
}
/* ................................image.............................................................. */
.img-border{
    box-shadow: 1px 3px 3px 2px #be2e2e;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}